@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color-lime: hsl(61,70%,52%);
	--primary-color-light-lime: hsl(60, 72%, 93%);
	--primary-color-red: hsl(4, 69%, 50%);
	--neutral-color-white: hsl(0, 0%, 100%);
	--neutral-color-slate-100: hsl(202, 86%, 94%);
	--neutral-color-slate-300: hsl(203, 41%, 72%); 
	--neutral-color-slate-500: hsl(200, 26%, 54%);
	--neutral-color-slate-700: hsl(200, 24%, 40%);
	--neutral-color-slate-900: hsl(202, 55%, 16%);
	--font-weight-500: 500;
	--font-weight-700: 700;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

main {
	width: 37.5rem;
	height: auto;
	background-color: var(--neutral-color-slate-100);
}

.data-input,
footer {
	padding: 3.2rem 2.4rem;
}

h1 {
	margin-bottom: 1rem;
}

h1,
input {
	color: var(--neutral-color-slate-900);
}

.clear-all {
	border: none;
	background: none;
	text-decoration: underline;
	color: var(--neutral-color-slate-700);
	font-weight: var(--font-weight-700);
	margin-bottom: 2.8rem;
}

.clear-all:hover {
	cursor: pointer;
}

label {
	color: var(--neutral-color-slate-700);
	font-weight: var(--font-weight-700);
	margin-bottom: 1.4rem;
}

input[type="text"] {
	padding: 1.4rem;
	margin-bottom: 2.6rem;
}

.clear-all,
input {
	font-size: 1.6rem;
}

input {
	font-weight: var(--font-weight-700);
}

.select-mortgage-type,
input {
	border-radius: 0.5rem;
	border: 0.1rem solid var(--neutral-color-slate-700);
}

input[type="radio"] {
	transform: scale(1.5);
}

input[type="radio"]:checked {
	accent-color: rgb(210, 159, 47);
}

.select-mortgage-type label {
	margin-left: 1.7rem;
}

.m-amount,
.term,
.interest,
.mortgage-type {
	display: flex;
	flex-direction: column;
}

.select-mortgage-type {
	padding: 1.4rem 1.8rem;
}

.select-repayment {
	margin-bottom: 1.2rem;
}

.select-interest {
	margin-bottom: 2.4rem;
}

input[type="submit"] {
	border: none;
	padding: 1.6rem 1.8rem;
	border-radius: 5rem;
	background-color: var(--primary-color-lime);
}

input[type="submit"] {
	cursor: pointer;
}

.border-color {
	border: 2px solid var(--primary-color-lime);
}

footer {
	background-color: var(--neutral-color-slate-900);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--neutral-color-white);
	text-align: center;
}

footer img, h2 {
	margin-bottom: 1.6rem;
}

h2 {
	background-color: hsl(202, 56%, 12%);
}

/* can be removed */

/*
.container {
	max-width: 180rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: auto;
	padding-top: 3rem;
}

.card {
	width: 40rem;
	height: 30rem;
	border-radius: 1rem;
	background-color: hsl(0, 0%, 92%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: 600; 
	position: relative;
	overflow: hidden;
	box-shadow: 0.5rem 0.8rem 3rem 1rem hsla(0, 0%, 0%, .15); /* x y blur spread */
/* } */

/*
.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 0.8rem;
	width: 100%;
}

.one::before {
	background-color: red;
}

.two::before {
	background-color: hsl(23, 85%, 83%);
}

.three::before {
	background-color: hsl(120, 20%, 62%);
}

.four::before {
	background-color: hsl(215, 31%, 50%);
}
*/